*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.primary-color {
	color: #192e40;
}
.secundary-color {
	color: #3f6f8c;
}
.success-color {
	color: #96c6d9;
}
.danger-color {
	color: #f25f29;
}
.terciary-color{
	color: #F28D35;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	background-color: #244e73;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	-webkit-text-size-adjust: 100%;
}

h1 {
	font-size: 2rem;
	padding: 0.3rem 0;
}

.contenedor {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-image: url(../assets/img/fondo.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.targetaPrincipal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 70%;
	background-color: rgba(255, 255, 255, 0.178);
	background-clip: border-box;
	border-radius: 2rem;
}

.contenedor-pagina {
	display: flex;
	flex-wrap: wrap;
}
.contenedor-pagina > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
}
.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.targetaSecundaria {
	width: 50%;
	padding: 0.5rem;
}

.img-logo {
	width: 60%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.text-center {
	text-align: center;
	color: #f1f1f1;
}

.d-flex {
	display: flex;
}
.img-responsive {
	max-width: 50%;
	height: 70%;
	margin: 0.5rem;
}
.img-responsive-group {
	width: 100%;
	max-height: 100%;
	padding: 0.5rem;
}

.page {
	flex: 1;
}

@media (max-width: 768px) {
	.targetaSecundaria {
		width: 100%;
	}
	.img-logo {
		width: 40%;
	}
	h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.targetaSecundaria {
		width: 50%;
	}
	.img-logo {
		width: 50%;
	}
}

.circulo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	box-shadow: 1px 2px 4px #1207b1;
}
.circulo-container {
	width: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-image: linear-gradient(#9fa4d180, #7c72a030);
}
.circulo-fondo {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: radial-gradient(#0cadf880, #0178ff30);
}
.ondas {
	bottom: 0px;
	background-color: rgb(7, 169, 245);
	position: absolute;
	width: 100%;
	height: 70%;
	border-radius: 50%;
	animation-name: move;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.azul {
	animation-direction: alternate-reverse;
	background-color: #F28D35;
	border-radius: 22% 100% 30% 0px / 0% 88% 0px 0px;
}
.celeste {
	background-color: #0ba2fa63;
	border-radius: 100rgba(130, 176, 202, 0.388)0px / 88% 0px 0px 0px;
}
@keyframes move {
	from {
		border-radius: 100% 22% 0% 0px / 88% 0px 0px 0px;
	}
	to {
		border-radius: 22% 100% 30% 0px / 0% 88% 0px 0px;
	}
}
